@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
body {
    overflow: hidden; /* Hide scrollbars */
  }
.banner{
    background-image: url('images/Halloween-HD-Wallpapers.jpg');
    height: 100vh;
    margin-top: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
    background-color: #19002050;   
  }
.logo{
    text-align: center;
    padding: 3em;
}
h1{
    font-family: "Creepster", system-ui;
    font-weight: 400;
color: orange;
justify-content: center;
text-align: center;
  
}
nav {
    background-color: rgb(10, 1, 32);
}
.nav-link {
    color: orange;
    font-family: "Creepster", system-ui;
    font-size: 1.4em;
}
.nav-link:hover {
    color: white;
    font-family: "Creepster", system-ui;
    font-size: 1.4em;
    text-shadow: 0 0 10px #fff, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange, 0 0 50px orange, 0 0 50px #ff4da6, 0 0 40px orange;
}
.icon {
    height: 3em;
    margin-left: 1.5em;
}